# exported weights and inputs (hundreds of MiB) and build products
data*/
/pairformer
/pairformer16
*.o
weights/
/af3prof
/af3t
*.pdb
*_confidences.json
weights-*/
/localfold-af3
localfold-af3.arch
localfold-af3.building
